.THIS {
}

.THIS .b12-large-button {
	height: 40px;
    font-size: small;
    color: white;
    min-width: 240px;
}

.THIS .b12-background {
 	background: rgba(239, 243, 247, 0.86)
 }

.THIS .b12-feature-header {
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	color: white;
 	/*font-size:larger;*/
 	font-weight: bold;
 }
 .THIS .b12-feature-body {
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	color: rgba(241, 241, 241, 0.85);
 }