.THIS .slds-page-header {
    border-radius: 0px;
	border-top-right-radius: 5px;
    box-shadow: none;
    border-left: 0px;
}
.THIS .b12-slds-form-element__label {
    display: inline-block !important;
    margin-right: .75rem !important;
}
.THIS .b12-label .slds-form-element__label {
    display: none !important;
    margin-right: 0rem !important;
}
.THIS {
	background-color: #fff;
}
.THIS .b12-number {
    background-color: #007db3;
    display: inline-block;
    line-height: 28px;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    margin-right: 5px;
}
.THIS .b12-cell {
    width: 100%;
}
.THIS .b12-logic {
    width: 300px;
}
.THIS .b12-picklist-button {
    margin-top: 2px;
}
.THIS .slds-form--inline {
    width: 100% !important;
}
.THIS .b12-search-button {
	height: 31px;
    margin-top: 20px;
    margin-left: 8px;
    border-radius: .2rem !important;
}
.THIS .b12-model-content {
    height: 500px
}