.THIS .slds-page-header {
    border-radius: 0px;
    border-top-right-radius: 5px;
    box-shadow: none;
    border-left: 0px;
}

.THIS {
    background-color: #fff;
}

.THIS .b12-search-button {
    height: 31px;
    margin-top: 20px;
    margin-left: 8px;
    border-radius: .2rem !important;
}

.THIS .b12-card-button {
    height: 32px;
    margin-top: 20px;
    margin-left: 8px;
}

.THIS .b12-card-button-right {
    border-radius: 0rem 0.2rem 0.2rem 0rem !important;
}

.THIS .b12-warning {
    background: #f6fde4;
    border-color: #d1eea8;
    color: #62931d;
    display: block;
    margin: 10px 0px 10px 0px;
    padding: 10px 15px;
    border: 1px solid #bee1f3;
    border-radius: 4px;
    line-height: 1.5em;
}

.THIS .b12-info {
    background: rgb(248, 253, 254);
    border-color: #d1eea8;
    color: #002b45;
    display: block;
    margin: 10px 0px 10px 0px;
    padding: 10px 15px;
    border: 1px solid #bee1f3;
    border-radius: 4px;
    line-height: 1.5em;
}


/* .THIS .slds-scrollable_x {
    overflow-y: visible !important;
    overflow-x: visible !important;
} */


/* .THIS .slds-scrollable_y {
    overflow-y: visible !important;
    overflow-x: visible !important;
} */